<div class="parent">
    <div class="sidebar">
      <h4 class="text-center">Employee Portal</h4>
      <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/travelrequestcomponent" routerLinkActive="active">New Request (Travel)</a>
      <a routerLink="/viewmytickets" routerLinkActive="active">View My Tickets</a>
      <a routerLink="/profiles" routerLinkActive="active">View My Travel Plans</a>
      <a routerLink="/profiles" routerLinkActive="active">Submit Expenses</a>
    </div>
  </div>
  