<div class="parent">
    <div class="sidebar">
      <h4 class="text-center">Employee Portal</h4>
      <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="travel-request" routerLinkActive="active">New Request (Travel)</a>
      <a routerLink="requests" routerLinkActive="active">My Requests</a>
      <!-- <a routerLink="approved-requests" routerLinkActive="active">Approved Requests</a> -->
      <a routerLink="expenses" routerLinkActive="active">My Expenses</a>
    </div>
  </div>
  