<div class="parent">
    <div class="sidebar">
      <h4 class="text-center">T DESK Portal</h4>
      <a routerLink="/travel-desk" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="travel-requests" routerLinkActive="active">New Request (Travel)</a>
      <a routerLink="travel-expense-requests" routerLinkActive="active">Travel Requests</a>
      <a routerLink="expenses" routerLinkActive="active">Travel Expenses</a>
      <a routerLink="/profiles" routerLinkActive="active">Submit Expenses</a>
    </div>
  </div>
  